* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(186, 241, 186);
}

table {
    width:35% ;
    text-align: center;
    border-collapse:collapse ;
}

button {
    color: black;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: azure;
}

.time {
    background-color: rgb(0, 137, 2);
    color: white;
    padding: 2px 8px;
    border-radius: 8px;
    margin-right: 5px;
    display: inline-block;
}

.name {
    background-color: rgb(58, 205, 94);
    color: white;
    padding: 2px 8px;
    border-radius: 8px;
    margin-right: 5px;
    display: inline-block;
}

.a {
    text-decoration: underline;
    padding-left:3vw;
}